
body {
  margin-top: 0px;
  background-color: #F0F8FF;
  line-height: 1.4em;
}


header {
  text-align: center;
  font-family: PT Serif Caption;
  background-color: E6E6FA;
}


h1 {
  font-weight: bold;
  text-align: center;
  font-family: PT Serif Caption;
  line-height: 1.4em;
}

h2 {
  font-weight: bold;
  text-align: center;
  font-family: PT Serif Caption;
  line-height: 1.4em;
}


