
nav {
  background-color: pink;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

body {
  margin-top: 200px;
  background-color: #FF8C69;
  background-image: url("img/salmon.png");
  background-position: center-top;
  background-repeat: no-repeat;
}
h1, h2 {
  text-align: center;
  font-family: Georgia;
}
li {
  display = inline;
  padding = 10px;
}
